@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    display:flex;
    flex-direction:row;
    height: 100vh;
    font-family: "Roboto";
    margin:0;
    
    
}
h3, h4, h5{
    margin:0;
    padding:20px;
    color:black;
}
.menubar{
    background: lightskyblue;
    margin:0;
    width:225px;
    
}
.main{
    min-width: 80vw;
}
.member{
    padding:12px;
}
#manage{
    margin-bottom: 28px;
    margin-top: 24px;
}
img{
    height: 18px;
    width:18px;
    padding-right: 12px;
    vertical-align: top;
}
.topbar{
    box-shadow:4px 1px 6px rgb(154, 156, 156);
    color: white;
    padding:20px;
    padding-top:5px;
    height: 100px;
    
}
input[type=text]{
    border-radius: 20px;
    width: 300px;
    padding:2px;
    font-size:8pt;
    border-style:none;
    background-color:rgb(216, 230, 230);
    border-width:thin;
}
.searchbar{
    display:flex;
   
    padding-bottom:4px;
    justify-content: space-between;
    row-gap:20px;
}
#name{
    padding-top:10px;
}
#greetings{
    padding-bottom:0px;
}
#profilepicture{
    border-radius: 20px;
    padding:0;
}
.name{
    color:black;
    font-size:8pt;
    font-weight:bold;
    padding-left:12px;
    
}
#profile, .account{
    display:flex;
    flex-flow:row;
    align-items: center;
    min-width: 100px;
}
#bigpicture{
    width:75px;
    height:75px;
    border-radius: 40px;
    padding:0;
}
